*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #040404;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5efc8d;
    
}

.container{
    margin: 0 auto;
    max-width: 950px;
    padding: 0 45px;
}

/* ---- HEADER ---- */

.header{
    background-color: black;
    border-bottom: 2px solid #131313;
    height: 8vh;
    width: 100%;
    top: 0;
    left: 0;
}

.header_logo{
    display: block;
    width: 40px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #604df3;
    color: #E8EEF2;
    text-decoration: none;
    text-align: center;

    margin: 12px 0px 0 60px;
}

#header_nav_list{
    display: none;
}

.js #header_nav_list{
    display: block;
    background-color: #604df3;
    position: absolute;
    top: 10vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    max-height: 0;
    transition: .3s ease-in-out;
}

.js #header_nav_list.active{
    max-height: 300px;
}

#header_nav_list a{
    display: block;
    color: #E8EEF2;
    list-style: none;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}
#header_nav_list a:hover{
    background-color: #5a48e4;
    cursor: pointer;
}

/* ---- BUTTON MENU ---- */

.btn_menu{
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 60px;
}

.btn_menu div{
    width: 25px;
    height: 2px;
    margin: 8px;
    background-color: #E8EEF2;
    transition: .2s;
}

.btn_menu.active .line1{
    transform: rotate(45deg) translate(9px, 8px);
}
.btn_menu.active .line2{
    opacity: 0;
}
.btn_menu.active .line3{
    transform: rotate(-45deg) translate(6px, -5px);
}




/* ---- HOME ---- */

.home{
    max-width: 500px;
    padding: 0 60px;
    height: 90vh;
}

.home h1{
    margin: 60px 0;
    font-size: 2em;
    color: #E8EEF2;
    padding: 20px 0 45px;
    font-weight: bold;
    line-height: 40px;

    border-bottom: 2px solid #604df3;
}
.home h1 span{
    color: #604df3;
}

.home img{
    display: none;
    width: 200px;
    height: 200px;
}



/* ---- SOBRE ---- */


.sobre{
    background-image: linear-gradient(#5e4bf0 20%, #9d25ed 90%);
    height: 105vh;
}

.sobre h2{
    padding-top: 60px;
    padding-bottom: 30px;
    color:#E8EEF2;
    letter-spacing: 2px;
    border-bottom: 2px solid #E8EEF2;
    font-weight: 400;
    font-size: 1.5em;
}
.sobre p{
    color: #E8EEF2;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 1.2em;
    font-weight: 300;
}

.sobre img{
    display: none;
}




/* ---- SKILLS ---- */


.card_skills{
    width: 100%;
    margin-top: 30px;
}
.card_skills:nth-child(3){
    margin-bottom: 100px;
}


.card_skills_header{
    width: 100%;
    padding-top: 30px;
    text-align: center;
    box-sizing: border-box;
}
.card_skills_icon{
    color: #E8EEF2;
    width: 50px;
    padding: 16px 0;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    background-color: #5a48e4;
}
.card_skills_header h4{
    display: block;
    width: 200px;
    margin: 1em auto;
    color: #E8EEF2;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
    border-bottom: 2px solid #5a48e4;
    padding-bottom: 10px;
}
.card_skills p{
    color: #E8EEF2;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: 300;
    font-size: .9em;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}




/* ---- PROJETOS ---- */

.projetos{
    background-color: #131313;
    padding: 5px 0;
}

.projetos h2{
    text-align: center;
    
    color: #E8EEF2;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 2em;
    border-bottom: 2px solid #5e4bf0;
    width: 100%;
    padding-bottom: 20px;

}

.project_card{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 2px 4px black;
}

.project_card img{
    width: 100%;
    height: 100%;

    transition: .5s linear;
}

.project_card .layer{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    background-image: linear-gradient(rgba(94, 75, 240, .9), #5e4bf0);
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;

    text-align: center;
    opacity: 0;

    transition: .3s linear;
}

.project_card .layer h4{
    margin: 0;
    color: #E8EEF2;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
}

.project_card .layer p{
    color: #E8EEF2;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: 300;
    font-size: .9em;
    width: 300px;
    margin: 0 auto;
}

.project_card .btn_view{
    margin: 0 auto;
}
.project_card .btn_view i{
    margin-right: 10px;
}

.project_card:hover .layer{
    opacity: 1;
    cursor: pointer;
}
.project_card:hover img{
    transform: scale(1.1);
}




/* ---- BUTTONS ---- */
.btn_call{
    background-image: linear-gradient(to right, #5efc8d, #98fc5e);
    display: inline-block;
    padding: 15px 40px;
    border-radius: 40px;
    box-shadow: 0px 0px 5px #5efc8d;

    color: #191716;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;

    transition: .2s;
}
.btn_call:hover{
    padding: 20px 45px;
}



.btn_view{
    text-decoration: none;
    width: 150px;
    padding: 10px 0;
    border-radius: 30px;
    border: 3px solid #5efc8d;

    color: #E8EEF2;
    letter-spacing: 2px;
    font-weight: 400;

    transition: .3s linear;
}

.btn_view:hover{
    background-color: #5efc8d;
    color: black;
    transform: scale(1.1, 1.1);
}


